body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

ul {
    margin: 0;
}

.header {
    padding: 15px 0;
}

.navigation {
    list-style: none;
    padding: 0;
}
.navigation-link {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    color: #939699;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    background-color: #4592FF;
    border-radius: 20px;
    border: none;
    color: #FFF;

    font-weight: 900;

    cursor: pointer;
}

.button-icon, .button-price {
    margin-right: 10px;
}
.button-icon:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.slider {
    position: relative;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slide {
    padding-top: 90px;
    padding-bottom: 110px;
}

.slide-1 {
    background: #B4D1E0 url('../img/slide-1.png') no-repeat top right;
}

.label {
    padding: 5px 12px;

    background-color: #3DC47E;
    border-radius: 3px;

    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.slide-title {
    margin-top: 20px;
    margin-bottom: 15px;

    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: #262D33;
}

.slide-description {
    max-width: 335px;
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
}

.card {
    display: block;
    border: none;
    min-height: 370px;

    border-radius: 10px;

    padding: 60px 46px 80px 46px;
}

.card-1 {
    background: #E3E2E3 url('../img/card-1.jpg') no-repeat top right;
    background-size: cover;
}

.card-2 {
    background: #000 url('../img/card-2.jpg') no-repeat top right;
    background-size: cover;
}

.card-3 {
    padding-top: 35px;

    background: #CCD5E6 url('../img/card-3.png') no-repeat top right 10%;
    background-size: contain;
}

.card-4 {
    padding-top: 35px;
    padding-left: 25px;

    background: #FF4F52 url('../img/card-4.png') no-repeat top right;
    background-size: cover;
}

.card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;

    max-width: 220px;
}
.card-title.large {
    font-size: 40px;
    line-height: 50px;

    max-width: 420px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;

    max-width: 170px;
    margin-bottom: 25px;
}
.card-text.large {
    max-width: 320px;
}

.card-price {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}

.text-light {
    color: #fff;
}

.section-title {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
}

.more {
    text-decoration:  none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;

    padding: 10px;
}

.goods-card {
    position: relative;
    padding: 30px 35px 35px 35px;

    text-align: center;
}

.goods-card .label {
    position: absolute;
    left: 18px;
    top: 18px;
}

.goods-title {
    margin-top: 15px;
    margin-bottom: 15px;

    color: #262D33;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 25px;
}

.goods-description {
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
}

.goods-price {
    color: #262D33;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 900;
}
